header,
main,
footer {
	margin: 0 auto;
	width: 90vw;
	max-width: 1200px;
}

header {
	align-items: center;
	justify-content: center;
	padding: 10px 0;
	position: relative;
	text-transform: lowercase;
	z-index: 50;

	a {
		color: $neutral;
		font: $font_headings;
		text-decoration: none;
	}

	.site-logo {
		display: block;
		padding: 10px;
		width: 100%;
		max-width: 370px;

		&:focus {
			outline: auto;
		}

		img,
		svg {
			width: auto;
			max-width: 100%;
			margin-bottom: 10px;
		}
	}
}

nav {
	// @extend %fullcentre_mar;
	// width: 100vw;

	ul {
		display: flex;
		// justify-content: center;
		overflow-y: visible;
		overflow-x: auto;
	}

	li {
		font-size: 0.9em;
		font-weight: 500;

		&.current_page_item {
			color: $secondary;
		}
	}

	a {
		display: block;
		padding: 5px 10px 10px;
		white-space: nowrap;
	}
}

.image-container {
	overflow: hidden;

	img {
		height: auto;
		min-height: 100%;
		max-height: 100%;
		width: auto;
		min-width: 100%;
		max-width: 100%;
	}
}

.banner {
	display: flex;
	align-items: center;
	height: 115vw;
	font-size: 3em;
	position: relative;
	overflow-y: hidden;
	width: 100vw;
	@extend %fullcentre_pos;

	> * {
		flex: 1 1 200px;
	}

	blockquote {
		background: transparent;
		color: #fff;
		font-style: normal;
		margin: 0;
		text-shadow: 1px 1px 1px #000, 1px 1px 1px #000;
		width: 50%;
		min-width: 200px;

		&:after {
			content: normal;
		}
	}

	img {
		position: absolute;
		top: 0;
		right: calc(-1 * (50vw - 50%));
		bottom: 0;
		width: 200vw;
		min-width: 100vw;
		max-width: unset;
		z-index: -1;
	}

	&.sub {
		height: auto;
		padding: 0;
		min-height: 200px;
		max-height: 40vh;
		overflow: hidden;

		&:after {
			background: #fff;
			content: '';
			opacity: 0.6;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}

		img {
			position: static;
			width: 100vw;
		}
	}

	& + .block {
		padding-top: 0;
	}
}

.headings {
	text-align: center;
	text-transform: lowercase;
	font-weight: bold;
	position: relative;
	min-height: 200px;
	margin-top: -200px;
	z-index: 5;

	.title {
		color: $primary_dark_50;
		font-size: 2em;
		margin-top: 0;
	}

	.subtitle {
		font-weight: normal;
		text-transform: uppercase;
	}

	.sub {
		font-size: 1.3em;
	}
}

.block {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	align-content: flex-start;
	font-size: 1em;
	position: relative;
	text-align: right;

	&.parallax {
		// padding: 50px 0;
	}

	> div {
		clear: both;
		padding: 20px 0;
		position: relative;
		top: 0;

		&:before {
			background: rgba(255, 255, 255, 0.8);
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: calc(-1 * (50vw - 50%));
			width: 100vw;
			z-index: -1;
		}
	}

	.paral {
		position: absolute;
		top: 0;
		bottom: 0;
		@extend %fullcentre_pos;
		width: 200vw;
		min-width: 100vw;
		max-width: unset;
		z-index: -2;
	}

	svg {
		float: left;
		// margin-top: -50px;
		position: relative;
		width: 40%;
	}

	&.left {
		text-align: left;

		svg {
			float: right;
		}
	}

	blockquote {
		background: none;
		font-size: 1.7em;
		margin: 0;
		padding: 0;
		position: static;

		&:after {
			content: normal;
		}
	}

	.subtitle {
		margin-bottom: 0;
	}
}

.cta {
	background: $neutral;
	color: #fff;
	display: block;
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
	padding: 15px;
	margin: 0 calc(-1 * (50vw - 50%));
	width: 100vw;

	a {
		border: 2px solid #fff;
		color: #fff;
		display: inline-block;
		line-height: 1;
		margin: 1em 20px 0;
		padding: 10px 15px;
		text-decoration: none;

		&:active,
		&:hover,
		&:focus {
			animation: animatedBackground 2s linear reverse infinite;
			background: $gradient_linear;
			background-size: 200%;
			background-position: bottom left;
			border-color: $neutral;
			color: #fff;

			@media (prefers-reduced-motion: reduce) {
				border-color: $secondary;
				background: $secondary;
			}
		}
	}
}

.testimonials {
	padding: 30px 0;

	blockquote {
		display: none;
		font-size: 1em;
		padding: 20px 10px;
		width: 100%;
	}

	cite {
		font-size: 0.9em;
		text-align: center;

		&:before,
		&:after {
			color: $secondary;
			position: absolute;
			font-size: 8em;
		}

		&:before {
			content: '❝';
			top: -0.5em;
			left: -0.2em;
		}

		&:after {
			content: '❞';
			bottom: -1em;
			right: -0.2em;
		}
	}

	input {
		&:checked {
			& + label {
				& + blockquote {
					display: block;
				}
			}
		}
	}

	label {
		font-size: 0;
		height: var(--radioWidth);
		order: 2;
		width: var(--radioWidth);
	}

	.profile {
		$size: 50px;

		border: 2px solid $secondary;
		border-radius: 50%;
		height: $size;
		position: absolute;
		bottom: calc(-1 * (5px + (#{$size} / 2)));
		left: calc(50% - (#{$size} / 2));
		width: $size;
	}

	@supports (grid-template-areas: '.') {
		display: grid;
		grid-template-columns: repeat(var(--testimonials), 1fr);
		grid-template-rows: max-content auto;
		grid-row-gap: 50px;
		grid-column-gap: 20px;
		align-items: center;
		justify-items: center;

		blockquote {
			display: block;
			grid-column: 1 / -1;
			grid-row: 1;
			margin: 0;
			visibility: hidden;
		}

		input {
			&:checked {
				& + label {
					& + blockquote {
						visibility: visible;
					}
				}
			}
		}

		label {
			order: 2;

			&:first-of-type {
				justify-self: end;

				&:last-of-type {
					justify-self: center;
				}
			}

			&:last-of-type {
				justify-self: start;
			}
		}
	}

	& + .block {
		padding-top: 0;
	}
}

.facts {
	background: $neutral;
	color: $primary;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin: 0 calc(-1 * (50vw - 50%));
	width: 100vw;

	h2 {
		color: #fff;
		margin-right: 20px;
	}

	dl {
		color: inherit;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(4, auto);
		grid-auto-flow: column;
		margin: 0;
		width: 100%;

		& > * {
			text-align: center;

			@media (max-width: 30.9rem) {
				&:nth-child(3),
				&:nth-child(4),
				&:nth-child(5),
				&:nth-child(6) {
					background: #fff;
					color: $secondary;
				}
			}
		}
	}

	dt {
		padding: 20px 10px 10px;
	}

	dd {
		font-size: 3em;
		margin: 0;
	}
}

.timetable {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px;

	div {
		flex: 1 1 auto;
		margin: 10px;
	}

	h3 {
		background: $primary_light_50;
		color: $neutral_dark_50;
		font-size: 1.2em;
		font-weight: bold;
		margin: 0;
		padding: 10px;
	}

	ul {
		padding: 0;
		margin: 0;
		text-transform: lowercase;
	}

	li {
		list-style-type: none;
		padding: 5px;
	}
}

.content {
	figure {
		&.wp-block-embed-youtube {
			$ratio: 281 / 500;
			$width: 90vw;
			$max_width: 500px;

			margin: 10px auto;
			height: $width * $ratio;
			max-height: $max_width * $ratio;
			width: $width;
			max-width: $max_width;

			iframe {
				max-width: 100%;
				height: $width * $ratio;
				max-height: $max_width * $ratio;
			}
		}
	}
}

footer {
	display: flex;
	flex-wrap: wrap;

	nav {
		--icon-size: 60px;
		width: 100%;
		max-width: 400px;

		ul {
			display: flex;
			justify-content: flex-end;
		}

		&.menu {
			svg {
				margin: 0;
			}
		}
	}

	.logo {
		display: flex;
		padding: 0 20px 20px;
		width: 100%;

		img {
			opacity: 0.5;
		}

		a {
			display: block;
			width: 60%;
			max-width: 200px;

			&:active,
			&:hover,
			&:focus {
				img {
					opacity: 1;
				}
			}
		}

		h3 {
			font-size: 0.8em;
			margin-left: 20px;
			width: 40%;
		}
	}

	.aimhigher {
		align-self: center;
		justify-content: flex-end;

		svg {
			.cls-n,
			.cls-g,
			.cls-s {
				fill: $primary_light_75;
			}

			.cls-n,
			.cls-s {
				width: auto;
				max-width: 0;
			}
		}

		a {
			border: 3px solid transparent;

			&:active,
			&:hover,
			&:focus {
				background: none;
				border-color: $secondary;

				svg {
					.cls-n {
						fill: #36454f;
					}

					.cls-s {
						fill: #00acbb;
					}

					.cls-g {
						fill: url(#AimHigherGradient);
					}
				}
			}
		}
	}
}
