header,
main,
footer {
	margin: 0 auto;
	width: 90vw;
	max-width: 1200px;
}

.home {
	header {
		.site-logo {
			path {
				fill: #fff;
			}
		}

		.site-logo,
		nav {
			background: radial-gradient(ellipse, rgba(0, 0, 0, 0.2), transparent);
		}
	}

	nav {
		a {
			color: #fff;
		}
	}
}

header {
	align-items: center;
	height: $height_header;
	padding: 10px;
	position: relative;
	z-index: 50;

	a {
		font: $font_headings;

		&.site-logo {
			padding: 0;

			&:focus {
				outline: auto;
			}
		}

		img,
		svg {
			width: 100%;
			max-height: 100%;
			display: block;
			margin-bottom: 10px;
		}
	}
}

nav {
	ul {
		display: flex;
		justify-content: center;
	}

	li {
		font-size: 0.9em;
		font-weight: 500;
	}

	a {
		// text-shadow: 1px 1px 2px #fff, -1px -1px 2px #fff;
	}
}

.image-container {
	overflow: hidden;

	img {
		height: auto;
		min-height: 100%;
		max-height: 100%;
		width: auto;
		min-width: 100%;
		max-width: 100%;
	}
}

.banner {
	display: flex;
	font-size: 4.5em;
	height: 90vh;
	margin-top: -1 * $height_header;
	padding: $height_header 0 50px;
	overflow: hidden;

	> * {
		flex: 1 1 200px;
	}

	blockquote {
		background: transparent;
		color: #fff;
		font-style: normal;
		padding: 50px;
		width: 50%;
		min-width: 200px;

		&:after {
			content: normal;
		}
	}

	img {
		position: absolute;
		top: 0;
		left: calc(-1 * (50vw - 50%));
		bottom: 0;
		min-width: 100vw;
		z-index: -1;
	}

	& + .block {
		padding-top: 0;
	}
}

.block {
	clear: both;
	font-size: 2em;
	// height: 100vh;
	text-align: right;

	&.parallax {
		padding: 50px 0;

		& + * {
			margin-top: -50px;
		}
	}

	.paral {
		height: 100vh;
		margin-left: calc(-1 * (50vw - 50%));
		min-width: 100vw;
		max-width: unset;
		position: sticky;
		top: 0;
		z-index: -1;
	}

	svg {
		float: left;
		width: 40%;
	}

	svg,
	blockquote {
		// margin-top: 200px;
	}

	blockquote {
		background: none;
		font-size: 1.7em;
		margin: 0;
		padding: 0;
		position: static;

		&:after {
			content: normal;
		}
	}

	.subtitle {
		margin-bottom: 40vh;
	}
}

.cta {
	background: $neutral;
	color: #fff;
	font-weight: bold;
	text-align: center;
	padding: 15px;
	margin: 0 calc(-1 * (50vw - 50%));
	width: 100vw;

	a {
		border: 2px solid #fff;
		color: #fff;
		line-height: 1;
		margin-left: 20px;
		padding: 10px 15px;
		text-decoration: none;

		&:active,
		&:hover,
		&:focus {
			animation: animatedBackground 2s linear reverse infinite;
			background: $gradient_linear;
			background-size: 200%;
			background-position: bottom left;
			border-color: $neutral;
			color: #fff;

			@media (prefers-reduced-motion: reduce) {
				border-color: $secondary;
				background: $secondary;
			}
		}
	}
}

.testimonials {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 50px 0;

	blockquote {
		display: none;
		font-size: 1.6em;
		width: 100%;
	}

	cite {
		font-size: 0.9em;
		text-align: center;
	}

	input {
		&:checked {
			& + label {
				& + blockquote {
					display: block;
				}
			}
		}
	}

	label {
		font-size: 0;
		height: var(--radioWidth);
		order: 2;
		width: var(--radioWidth);
	}

	@supports (grid-template-areas: '.') {
		display: grid;
		grid-template-columns: repeat(var(--testimonials), 1fr);
		grid-template-rows: max-content auto;
		grid-gap: 20px;
		align-items: center;
		justify-items: center;

		blockquote {
			display: block;
			grid-column: 1 / -1;
			grid-row: 1;
			margin: 0;
			visibility: hidden;
		}

		input {
			&:checked {
				& + label {
					& + blockquote {
						visibility: visible;
					}
				}
			}
		}

		label {
			order: 2;

			&:first-of-type {
				justify-self: end;

				&:last-of-type {
					justify-self: center;
				}
			}

			&:last-of-type {
				justify-self: start;
			}
		}
	}
}

.facts {
	background: $secondary;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 calc(-1 * (50vw - 50%));
	width: 100vw;

	h2 {
		color: inherit;
		margin-right: 20px;
	}

	dl {
		color: inherit;
		display: grid;
		grid-template-columns: repeat(auto-fill, 1fr);
		grid-template-rows: auto auto;
		grid-auto-flow: column;
		margin: 0;

		& > * {
			text-align: center;

			&:nth-child(4n),
			&:nth-child(4n - 1) {
				background: $primary;
			}
		}
	}

	dt {
		padding: 20px 10px 10px;
	}

	dd {
		font-size: 3em;
		margin: 0;
	}
}

footer {
	display: flex;
	flex-wrap: wrap;
	padding: 30px 20px 20px;

	nav {
		--icon-size: 60px;
		width: 100%;
		max-width: 400px;

		ul {
			display: flex;
			justify-content: flex-end;
		}
	}

	.logo {
		display: flex;
		padding: 0 20px 20px;
		width: 100%;

		img {
			opacity: 0.5;
		}

		a {
			display: block;
			width: 60%;
			max-width: 200px;

			&:active,
			&:hover,
			&:focus {
				img {
					opacity: 1;
				}
			}
		}

		h3 {
			font-size: 0.8em;
			margin-left: 20px;
			width: 40%;
		}
	}

	.aimhigher {
		align-self: center;
		justify-content: flex-end;

		svg {
			.cls-1,
			.cls-2 {
				fill: $primary_light_75;
			}
		}

		a {
			border: 3px solid transparent;

			&:active,
			&:hover,
			&:focus {
				background: none;
				border-color: $secondary;

				svg {
					.cls-1 {
						fill: #1c75bc;
					}

					.cls-2 {
						fill: #16a6b1;
					}
				}
			}
		}
	}
}
