header {

  a {

    &.site-logo {
      
      img,
      svg {
        height: 20%;
      }
    }
  }
}

footer {
    nav.menu {
        &.social {
            width: 40%;
        }
    }

    .logo {
        &.aimhigher {
            width: 40%;
        }
    }
}