header {
	.site-logo {
		img,
		svg {
			margin-bottom: 0;
		}
	}
}

.facts {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

footer {
	justify-content: space-between;
}
