header {
	justify-content: center;
	flex-wrap: wrap;

	.site-logo {
		img,
		svg {
			margin-bottom: 0;
		}
	}

	nav {
		.hamburger {
			display: none;
		}

		&.main {
			ul {
				background: transparent;
				border: none;
				display: flex;
				padding: 0;
				position: static;
				width: 100%;
			}
		}
	}
}

.facts {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.media {
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

	iframe {
		$ratio: 315/560;
		$width: 40vw;
		$min_width: 300px;

		height: $width * $ratio;
		min-height: $min_width * $ratio;
		width: $width;
		min-width: $min_width;
	}
}

footer {
	justify-content: space-between;

	.aimhigher {
		width: 40%;
		max-width: 200px;
	}
}
