.container {
	margin: 0 auto;
	max-width: 1200px;
}

.image-container {
	background: var(--backgroundImage);
	background-size: cover;
	margin-left: -5vw;
	padding: 20px 5vw;
	width: 100vw;

	@media(min-width: 1300px) {
		margin-left: calc((600px - 50vw) - 5vw);
		width: 110vw;
	}

	@media(min-width: 1350px) {
		margin-left: calc((600px - 50vw));
		width: 100vw;
	}
}

.home {
	.image-container {
		margin-left: -5vw;
	}
}

.colour-container {
	color: #fff;
	margin: 40px auto;
	padding: 20px 40px;
	position: relative;
	z-index: 0;

	h2, h3, h4 {
		color: inherit;
		margin-top: 0;
		text-align: center;
	}

	&:before {
		background: var(--background);
		content: '';
		@extend %cover;
		z-index: -1;
	}

	&.transparent {
		&:before {
			opacity: 0.6;
		}
	}

	form {
		margin: 0 auto;

		.wpforms-field-email,
		.wpforms-field-text,
		.wpforms-field-textarea {
			label {

				&:not(.filled) {
					&:not(.wpforms-error) {
						color: #000;
					}
				}
			}

			&:focus-within {
				label {
					&:not(.filled) {
						&:not(.wpforms-error) {
							color: inherit;
						}
					}
				}
			}
		}

		.wpforms-error {
			color: inherit;
		}

		button {
			background: #fff;
			border-color: $primary;
			color: $primary;

			&:hover, &:focus {
				background: $primary;
				color: #fff;
			}
		}
	}
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(1, minmax(90vw, 500px));
	grid-gap: 20px;
	margin: 0 auto;

	@media(min-width: 800px) {
		grid-template-columns: repeat(2, minmax(40vw, 500px));
	}

	@media(min-width: 1200px) {
		grid-template-columns: repeat(2, 500px);
		grid-column-gap: 40px;
		justify-content: center;
	}
}
