figure {
	&.wp-block-embed {
		figcaption {
			border: none;
			color: $neutral;
		}

		iframe {
			max-width: 90vw;

			@media(min-width: 600px) {
				max-width: 500px;
			}

			@media(min-width: 800px) {
				max-width: 40vw;
			}

			@media(min-width: 1250px) {
				max-width: 500px;
			}
		}
	}
}

.grid-container {
	figure {
		margin: 0;
	}
}