.team {
	display: flex;
	justify-content: space-between;
	overflow-x: auto;

	.profile {
		flex: 0 0 200px;
		margin: 10px;
		position: relative;
		overflow: hidden;
		width: 200px;

		img {
			height: 200px;
			width: auto;
			max-width: unset;
		}

		figcaption {
			display: none;
		}
	}
}