nav {
	li {
		font-size: 1.3em;
	}
}

.container {
	&.main {
		padding: 0;
	}
}



.media {
	iframe {
		$ratio: 315/560;
		$width: 500px;

		height: $width * $ratio;
		width: $width;
	}
}
