


.block {
	font-size: 1.5em;
}

.cta {
	font-size: 1em;
}

.testimonials {
	padding: 50px 0;

	blockquote {
		font-size: 1.3em;
		padding: 30px 20px 70px;
	}

	.profile {
		$size: 70px;

		height: $size;
		bottom: calc(-1 * (5px + (#{$size} / 2)));
		left: calc(50% - (#{$size} / 2));
		width: $size;
	}

	@supports (grid-template-areas: '.') {
		grid-row-gap: 70px;
	}
}

.facts {
	dl {
		grid-template-columns: repeat(auto-fill, 1fr);
		grid-template-rows: repeat(2, auto);
		width: auto;

		& > * {
			&:nth-child(4n),
			&:nth-child(4n - 1) {
				background: #fff;
				color: $secondary;
			}
		}
	}
}

.media {
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

	iframe {
		$ratio: 315/560;
		$width: 50vw;
		$min_width: 350px;

		height: $width * $ratio;
		min-height: $min_width * $ratio;
		width: $width;
		min-width: $min_width;
	}
}

footer {
	padding: 30px 20px 20px;

	nav {
		&.menu {
			&.social {
				width: 40%;
			}

			svg {
				margin: 20px;
			}
		}
	}

	.logo {
		a {
			width: 40%;
			min-width: 200px;
		}
	}
}
