


.block {
	font-size: 1.5em;
}





.facts {
	dl {
		grid-template-columns: repeat(auto-fill, 1fr);
		grid-template-rows: repeat(2, auto);
		width: auto;

		& > * {
			&:nth-child(4n),
			&:nth-child(4n - 1) {
				background: #fff;
				color: $secondary;
			}
		}
	}
}

.media {
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

	iframe {
		$ratio: 315/560;
		$width: 50vw;
		$min_width: 350px;

		height: $width * $ratio;
		min-height: $min_width * $ratio;
		width: $width;
		min-width: $min_width;
	}
}

